.container {
  /*width: 100%;*/
  white-space: nowrap;
}

.pallete span {
  /*display: inline-block;*/
  vertical-align: top;
  padding: 5px;
  width: 10%;
}

.pallete div {
  border: solid 1px gray;
  width: 10%;
  height: 600px;
}

.diagram span {
  /*display: inline-block;*/
  vertical-align: top;
  padding: 5px;
  width: 50%;
}

.diagram div {
  border: solid 1px gray;
  width: 50%;
  height: 600px;
}

.panel span {
  /*display: inline-block;*/
  vertical-align: top;
  padding: 5px;
  width: 36%;
}

.panel div {
  border: solid 1px gray;
  width: 36%;
  height: 600px;
}

.panel textarea {
  /*display: inline-block;*/
  width: 100%;
  height: 175px;
}
